<ion-view view-title="Lista de Clientes">

  <ion-nav-buttons side="primary">
    <button 
      class="button button-icon ion-minus-circled" 
      ng-click="data.showDeleted = !data.showDeleted; data.showReorder = false;">
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="secondary">
    <button 
      class="button button-icon ion-navicon" 
      ng-click="data.showReorder = !data.showReorder; data.showDeleted = false;">
    </button>
  </ion-nav-buttons>
<!-- </ion-header-bar> -->

<!-- end: cabeçalho do app -->
<div class="bar bar-subheader item-input-inset bar-light">
  <label class="item-input-wrapper">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="search" ng-model="query" placeholder="Buscar">
  </label>
</div>
<!-- end: sub-cabeçalho do app -->

<!-- start: cria listagem (conteudo), com classe de subheader -->
<ion-content class="has-subheader">

  <ion-refresher on-refresh="doRefresh()"></ion-refresher>

  <ion-list 
    show-delete="data.showDeleted" 
    show-reorder="data.showReorder">
    <ion-item 
      ng-class="{'star': item.star}" 
      ng-repeat='item in artists | filter: query' 
      class="item-thumbnail-left item-icon-right item-text-wrap" 
      href="#/tab/list/{{item.shortname}}">
      <img ng-src="{{item.image}}" alt="Foto {{item.name}}">
      <h2>{{item.name}}</h2>
      <h3>{{item.reknown}}</h3>
      <p>{{item.bio | limitTo: 80}} {{item.bio.length > 90 ? '&hellip;' : ''}}
      </p>

      <button class="button button-clear icon ion-star button-assertive" 
        ng-click="toggleStar(item)"
        ng-show="item.star">
        <i class="icon ion-star"></i>
      </button>
      
      <ion-option-button class="button-dark ion-star" 
        ng-click="toggleStar(item)">
      </ion-option-button>

      <ion-delete-button 
        class="ion-minus-circled"  
        ng-click="onItemDelete(item)">
      </ion-delete-button>

      <ion-reorder-button 
        class="ion-navicon" 
        on-reorder="moveItem(item, $fromIndex, $toIndex)">
      </ion-reorder-button>

    </ion-item>
  </ion-list>
</ion-content>
<!-- end: cria listagem (conteudo), com classe de subheader -->

</ion-view>