<ion-tabs class="tabs-icon-top tabs-positive">
	
	<ion-tab title="Home" icon="ion-home" 
		href="#/tab/home">
		<ion-nav-view name="home-tab"></ion-nav-view>
	</ion-tab>
	
	<ion-tab title=Vendas icon="ion-ios-cart" 
		href="">
		<ion-nav-view name=""></ion-nav-view>
	</ion-tab>
	
	<ion-tab title="Clientes" icon="ion-ios-people" 
		href="#/tab/list">
		<ion-nav-view name="list-tab"></ion-nav-view>
	</ion-tab>
	
	<ion-tab title=Sync icon="ion-archive" 
		href="">
		<ion-nav-view name=""></ion-nav-view>
	</ion-tab>

</ion-tabs>